.background-image

#buttons
  .buttons
    = link_to "Register", register_path, class: 'button success radius'
    = link_to "Sign In", sign_in_path, class: 'button radius'
  #title.site
    %h1
      Novelist
      
%h2
  A place to read about places.
