.background-image

.register-button
  = link_to "Register", register_path, class: 'button success radius'

.sign-in-button
  = link_to "Sign In", sign_in_path, class: 'button radius'

.site_title
  %h1
    Novelist

%h2
  A place to read about places.
