/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-color: #3CBCBC;
}

.p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.background-image {
  background-image: url("background.jpg");
  background-size: 100%;
  background-color: #3CBCBC;
  height: 600px;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: relative;
}

.background-image-header {
  background-image: url("background.jpg");
  background-color: #3CBCBC;
  background-position: 200px;
  height: 125px;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: relative;
}

.site_title {
  position: absolute;
  top: 30%;
  left: 33%;
  background: rgba(60,188,188,0.6);
  padding: 20px;
  border-radius: 5px;
}

.register-button {
  position: absolute;
  top: 5%;
  right: 20%;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  opacity: 1;
}

h2 {
  text-align: center;
  padding-top: 30px;
}

h3 {
  font-weight: bold;
}

.title-area {
  position: absolute;
  top: 25px;
  left: 40px;
  background: rgba(60,188,188,0.8);
  opacity: 0.9;
  padding: 10px;
  border-radius: 5px;
}

.has-form {
  position: absolute;
  float: right;
}

.profile-button {
  position: absolute;
  top: 5%;
  right: 15%;
  width: 140px;
}

.signout-button {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 140px;
}

.search-bar {
  position: absolute;
  top: 5%;
  right: 35%;
  width: 300px;
}

.search-button {
  position: absolute;
  top: 5%;
  right: 24%;
  width: 140px;
}
